body {
  font-family: Poppins, sans-serif;
  background: #f8f9fa;
  color: #333;
  text-align: center;
  padding: 30px;
}

header {
  background-color: #0078d4;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background-color: #218838;
}
