USE [StockCare]
GO
/****** Object:  User [PC5-LAB1\Alumno]    Script Date: 10/22/2025 21:10:18 ******/
CREATE USER [PC5-LAB1\Alumno] FOR LOGIN [PC5-LAB1\Alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Direccion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedTableType [dbo].[DetalleCompra]    Script Date: 10/22/2025 21:10:19 ******/
CREATE TYPE [dbo].[DetalleCompra] AS TABLE(
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DetalleVenta]    Script Date: 10/22/2025 21:10:19 ******/
CREATE TYPE [dbo].[DetalleVenta] AS TABLE(
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL
)
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Direccion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProveedor]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Modificar
CREATE PROCEDURE [dbo].[sp_ModificarProveedor]
    @IdProveedor INT,
    @Nombre NVARCHAR(150),
    @Telefono NVARCHAR(50),
    @Email NVARCHAR(100),
    @Direccion NVARCHAR(255)
AS
BEGIN
    UPDATE Proveedor
    SET Nombre = @Nombre,
        Telefono = @Telefono,
        Email = @Email,
        Direccion = @Direccion
    WHERE IdProveedor = @IdProveedor;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarCliente]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ================================================
   TABLA: CLIENTE
   ================================================ */
-- Crear
CREATE PROCEDURE [dbo].[sp_AgregarCliente]
    @Nombre NVARCHAR(150),
    @Telefono NVARCHAR(50),
    @Email NVARCHAR(100),
    @Direccion NVARCHAR(255)
AS
BEGIN
    INSERT INTO Cliente (Nombre, Telefono, Email, Direccion)
    VALUES (@Nombre, @Telefono, @Email, @Direccion);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarCategoria]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ================================================
   TABLA: CATEGORIA
   ================================================ */
-- Crear
CREATE PROCEDURE [dbo].[sp_AgregarCategoria]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(255)
AS
BEGIN
    INSERT INTO Categoria (Nombre, Descripcion)
    VALUES (@Nombre, @Descripcion);
END;
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdProveedor] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarCliente]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Buscar
CREATE PROCEDURE [dbo].[sp_BuscarCliente]
    @Filtro NVARCHAR(100) = NULL
AS
BEGIN
    SELECT * 
    FROM Cliente
    WHERE @Filtro IS NULL OR Nombre LIKE '%' + @Filtro + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarCategoria]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Buscar (por nombre o listar todas)
CREATE PROCEDURE [dbo].[sp_BuscarCategoria]
    @Filtro NVARCHAR(100) = NULL
AS
BEGIN
    SELECT * 
    FROM Categoria
    WHERE @Filtro IS NULL OR Nombre LIKE '%' + @Filtro + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProveedor]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ================================================
   TABLA: PROVEEDOR
   ================================================ */
-- Crear
CREATE PROCEDURE [dbo].[sp_AgregarProveedor]
    @Nombre NVARCHAR(150),
    @Telefono NVARCHAR(50),
    @Email NVARCHAR(100),
    @Direccion NVARCHAR(255)
AS
BEGIN
    INSERT INTO Proveedor (Nombre, Telefono, Email, Direccion)
    VALUES (@Nombre, @Telefono, @Email, @Direccion);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCliente]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Eliminar
CREATE PROCEDURE [dbo].[sp_EliminarCliente]
    @IdCliente INT
AS
BEGIN
    DELETE FROM Cliente
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCategoria]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Eliminar
CREATE PROCEDURE [dbo].[sp_EliminarCategoria]
    @IdCategoria INT
AS
BEGIN
    DELETE FROM Categoria
    WHERE IdCategoria = @IdCategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProveedor]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Buscar
CREATE PROCEDURE [dbo].[sp_BuscarProveedor]
    @Filtro NVARCHAR(100) = NULL
AS
BEGIN
    SELECT * 
    FROM Proveedor
    WHERE @Filtro IS NULL OR Nombre LIKE '%' + @Filtro + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCliente]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Modificar
CREATE PROCEDURE [dbo].[sp_ModificarCliente]
    @IdCliente INT,
    @Nombre NVARCHAR(150),
    @Telefono NVARCHAR(50),
    @Email NVARCHAR(100),
    @Direccion NVARCHAR(255)
AS
BEGIN
    UPDATE Cliente
    SET Nombre = @Nombre,
        Telefono = @Telefono,
        Email = @Email,
        Direccion = @Direccion
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCategoria]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Modificar
CREATE PROCEDURE [dbo].[sp_ModificarCategoria]
    @IdCategoria INT,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(255)
AS
BEGIN
    UPDATE Categoria
    SET Nombre = @Nombre,
        Descripcion = @Descripcion
    WHERE IdCategoria = @IdCategoria;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProveedor]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Eliminar
CREATE PROCEDURE [dbo].[sp_EliminarProveedor]
    @IdProveedor INT
AS
BEGIN
    DELETE FROM Proveedor
    WHERE IdProveedor = @IdProveedor;
END;
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdProveedor] [int] NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[CodigoBarra] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Eliminar
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @IdProducto INT
AS
BEGIN
    DELETE FROM Producto
    WHERE IdProducto = @IdProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarProducto]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Buscar (por nombre, código o listar todo)
CREATE PROCEDURE [dbo].[sp_BuscarProducto]
    @Filtro NVARCHAR(100) = NULL
AS
BEGIN
    SELECT 
        P.IdProducto,
        P.Nombre,
        C.Nombre AS Categoria,
        PV.Nombre AS Proveedor,
        P.PrecioCompra,
        P.PrecioVenta,
        P.StockActual,
        P.StockMinimo,
        P.CodigoBarra
    FROM Producto P
    INNER JOIN Categoria C ON P.IdCategoria = C.IdCategoria
    LEFT JOIN Proveedor PV ON P.IdProveedor = PV.IdProveedor
    WHERE @Filtro IS NULL 
       OR P.Nombre LIKE '%' + @Filtro + '%'
       OR P.CodigoBarra LIKE '%' + @Filtro + '%';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProducto]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ================================================
   TABLA: PRODUCTO
   ================================================ */
-- Crear
CREATE PROCEDURE [dbo].[sp_AgregarProducto]
    @Nombre NVARCHAR(150),
    @IdCategoria INT,
    @IdProveedor INT = NULL,
    @PrecioCompra DECIMAL(10,2),
    @PrecioVenta DECIMAL(10,2),
    @StockActual INT = 0,
    @StockMinimo INT = 5,
    @CodigoBarra NVARCHAR(50) = NULL
AS
BEGIN
    INSERT INTO Producto (Nombre, IdCategoria, IdProveedor, PrecioCompra, PrecioVenta, StockActual, StockMinimo, CodigoBarra)
    VALUES (@Nombre, @IdCategoria, @IdProveedor, @PrecioCompra, @PrecioVenta, @StockActual, @StockMinimo, @CodigoBarra);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductosBajoStock]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP: Productos por debajo del stock mínimo (alertas)
CREATE PROCEDURE [dbo].[sp_ProductosBajoStock]
AS
BEGIN
    SELECT IdProducto, Nombre, StockActual, StockMinimo
    FROM Producto
    WHERE StockActual <= StockMinimo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProducto]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Modificar
CREATE PROCEDURE [dbo].[sp_ModificarProducto]
    @IdProducto INT,
    @Nombre NVARCHAR(150),
    @IdCategoria INT,
    @IdProveedor INT = NULL,
    @PrecioCompra DECIMAL(10,2),
    @PrecioVenta DECIMAL(10,2),
    @StockActual INT,
    @StockMinimo INT,
    @CodigoBarra NVARCHAR(50) = NULL
AS
BEGIN
    UPDATE Producto
    SET Nombre = @Nombre,
        IdCategoria = @IdCategoria,
        IdProveedor = @IdProveedor,
        PrecioCompra = @PrecioCompra,
        PrecioVenta = @PrecioVenta,
        StockActual = @StockActual,
        StockMinimo = @StockMinimo,
        CodigoBarra = @CodigoBarra
    WHERE IdProducto = @IdProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVenta]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ======================================================
   PROCEDIMIENTO: REGISTRAR VENTA
   ====================================================== */
CREATE PROCEDURE [dbo].[sp_RegistrarVenta]
    @IdCliente INT,
    @DetalleVenta AS dbo.DetalleVenta READONLY
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdVenta INT;

    -- 1. Crear cabecera de venta
    INSERT INTO Venta (IdCliente, Fecha, Total)
    VALUES (@IdCliente, GETDATE(), 0);

    SET @IdVenta = SCOPE_IDENTITY();

    -- 2. Insertar detalles
    INSERT INTO DetalleVenta (IdVenta, IdProducto, Cantidad, PrecioUnitario)
    SELECT @IdVenta, IdProducto, Cantidad, PrecioUnitario
    FROM @DetalleVenta;

    -- 3. Descontar stock
    UPDATE P
    SET P.StockActual = P.StockActual - D.Cantidad
    FROM Producto P
    INNER JOIN @DetalleVenta D ON P.IdProducto = D.IdProducto;

    -- 4. Actualizar total de la venta
    UPDATE Venta
    SET Total = (
        SELECT SUM(Cantidad * PrecioUnitario)
        FROM @DetalleVenta
    )
    WHERE IdVenta = @IdVenta;

    -- 5. Retornar ID de la venta
    SELECT @IdVenta AS IdVentaCreada;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCompra]    Script Date: 10/22/2025 21:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ======================================================
   PROCEDIMIENTO: REGISTRAR COMPRA
   ====================================================== */
CREATE PROCEDURE [dbo].[sp_RegistrarCompra]
    @IdProveedor INT,
    @DetalleCompra AS dbo.DetalleCompra READONLY -- se requiere tipo definido
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdCompra INT;

    -- 1. Crear cabecera de compra
    INSERT INTO Compra (IdProveedor, Fecha, Total)
    VALUES (@IdProveedor, GETDATE(), 0);

    SET @IdCompra = SCOPE_IDENTITY();

    -- 2. Insertar detalles
    INSERT INTO DetalleCompra (IdCompra, IdProducto, Cantidad, PrecioUnitario)
    SELECT @IdCompra, IdProducto, Cantidad, PrecioUnitario
    FROM @DetalleCompra;

    -- 3. Actualizar stock
    UPDATE P
    SET P.StockActual = P.StockActual + D.Cantidad
    FROM Producto P
    INNER JOIN @DetalleCompra D ON P.IdProducto = D.IdProducto;

    -- 4. Actualizar total de la compra
    UPDATE Compra
    SET Total = (
        SELECT SUM(Cantidad * PrecioUnitario)
        FROM @DetalleCompra
    )
    WHERE IdCompra = @IdCompra;

    -- 5. Retornar ID de la compra
    SELECT @IdCompra AS IdCompraCreada;
END;
GO
/****** Object:  Default [DF__Venta__Fecha__20C1E124]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
/****** Object:  Default [DF__Venta__Total__21B6055D]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Venta] ADD  DEFAULT ((0)) FOR [Total]
GO
/****** Object:  Default [DF__Compra__Fecha__145C0A3F]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
/****** Object:  Default [DF__Compra__Total__15502E78]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Compra] ADD  DEFAULT ((0)) FOR [Total]
GO
/****** Object:  Default [DF__Producto__StockA__0CBAE877]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [StockActual]
GO
/****** Object:  Default [DF__Producto__StockM__0DAF0CB0]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((5)) FOR [StockMinimo]
GO
/****** Object:  ForeignKey [FK_Venta_Cliente]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
/****** Object:  ForeignKey [FK_Compra_Proveedor]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Proveedor]
GO
/****** Object:  ForeignKey [FK_Producto_Categoria]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
/****** Object:  ForeignKey [FK_Producto_Proveedor]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Proveedor] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Proveedor]
GO
/****** Object:  ForeignKey [FK_DetalleVenta_Producto]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Producto]
GO
/****** Object:  ForeignKey [FK_DetalleVenta_Venta]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Venta] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Venta]
GO
/****** Object:  ForeignKey [FK_DetalleCompra_Compra]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Compra] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compra] ([IdCompra])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Compra]
GO
/****** Object:  ForeignKey [FK_DetalleCompra_Producto]    Script Date: 10/22/2025 21:10:19 ******/
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleCompra] CHECK CONSTRAINT [FK_DetalleCompra_Producto]
GO
